<% if user_signed_in? && current_user.is_patient %>
	<% if @doctors.present? %>
		<div style="text-align: center;">
			<h1>Doctors List</h1>
			<table style="margin-right: auto;margin-left: auto;">
				<tr>
					<th>Doctor Name</th>
				</tr>
				<%@doctors.each do |doctor|%>
					<tr><td><%= link_to "Dr. " + doctor.name %></td></tr>
				<% end %>
			</table>
		</div>
	<% else %>
		<h1>Sorry! No doctor is available right now.</h1>
	<% end %>
<% end %>